<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	<a class="navbar-brand my-0 mr-md-auto text-muted" href="home.html">
	  <img src="./../../../../main_components/img/logo2.png" width="25" height="36" class="d-inline-block align-top" alt="Logo">
	  Payit
	</a>
	<ul class="nav nav-pills">
	  
	  <li class="nav-item">
		<h5 class="p-2 text-dark" *ngIf= "admin">{{admin.name}}</h5>
	  </li>
	  <li class="nav-item">
		<h5 class="p-2 text-danger bg-warning">BETA</h5>
	  </li>
	</ul>
  </div>